@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
/* O: @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');
/* O: @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap'); */

body {
    body {
        /* ... otros estilos */
        font-family: 'Crimson Text', serif;
    }

    background-color: #e9edee;
    /* Tono de rosa muy suave */
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5573fa;
    /* Rosa más intenso */
    color: white;
    padding: 20px 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    /* Un poco más grande */
    color: #f9fafc;
    /* Rose Gold */
}


#carrusel {
    margin: 30px auto;
    padding: 20px;
    border: 3px solid #2b98ff;
    /* Borde de color de amor */
    border-radius: 15px;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#main-image {
    width: 100%;
    height: 50 0%;
    border-radius: 10px;
    display: auto;
    margin-bottom: 20px;
}

#main-text {
    font-family: 'Crimson Text', serif;
    color: #5573fa;
    /* Rojo oscuro o borgoña */
    padding: 10px;
    font-size: 1.4em;
}

.controls button {
    background-color: #5573fa;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.controls button:hover,
#play-pause-btn:hover {
    background-color: #5573fa;
}

#play-pause-btn {
    margin-top: 20px;
    background-color: #5573fa;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    margin-top: 40px;
    padding: 10px 0;
    background-color: #5573fa;
    color: white;
}